@font-face {
  font-family: 'ING Me Regular';
  src: local('ING Me Regular'), url(../_fonts/INGMe-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ING Me Bold';
  src: local('ING Me Bold'), url(../_fonts/INGMe-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  /* padding: 0; */
  font-family: ING Me Regular, serif;
  padding-top: 0.1px;

}

html > body {
  padding-top: 0.1px;
  font-family: ING Me Regular, serif;
}

.ui.container.main {
  /* margin-top: 3.5em; */
  font-family: ING Me Regular, serif;
}

.primary{
  font-family: ING Me Regular, serif;
}

.primary-bold{
  font-family: ING Me Bold, serif;
}

.primary-button{
  font-family: ING Me Regular, serif;
  background-color: orange;
  color: white;
}

.workarea {
  /* margin-top: 47px; */
  /* height: 100%; */
  font-family: ING Me Regular, serif;
}

.pushable.main {
  margin-top: 47px;
  height: 100%;
  font-family: ING Me Regular, serif;
}

div#root {
  height: calc(100% - 47px);
  font-family: ING Me Regular, serif;
}

div#router-root {
  height: 100%;
  font-family: ING Me Regular, serif;
}

.dashboard-container {
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  font-family: ING Me Regular, serif;
}

.disabled.field {
  opacity: 0.65 !important;
  font-family: ING Me Regular, serif;
}

.layout-warning {
  background-color: #fd6000;
  font-family: ING Me Regular, serif;
}

.layout-error {
  background-color: #d91c29;
  font-family: ING Me Regular, serif;
}
